﻿@model UI.Models.ToDo


<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>

<script src="~/Scripts/moment.js"></script>

<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>


<div class="modal-dialog">

    <div class="modal-content">

        @using (Html.BeginForm("Create", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModal-label">Create Todo</h4>
            </div>
            <div class="modal-body">

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.Activity, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Activity, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Activity, "", new { @class = "label label-danger", @style = "font-size:13px;" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Topic, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Topic, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Topic, "", new { @class = "label label-danger", @style = "font-size:13px;" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "label label-danger", @style = "font-size:13px;" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control date datetimepicker", @id = "datetimepicker3" } })

                            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "label label-danger", @style = "font-size:13px;" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datetimepicker", @id = "datetimepicker4" } })
                            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "label label-danger", @style = "font-size:13px;" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Priority, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Priority, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "label label-danger", @style = "font-size:13px;" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "label label-danger", @style = "font-size:13px;" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PercentageOfCompletion, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PercentageOfCompletion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PercentageOfCompletion, "", new { @class = "label label-danger", @style = "font-size:13px;" })
                        </div>
                    </div>


                </div>
            </div>

            <div class="modal-footer">
                <input type="submit" value="Create" class="btn btn-warning" formmethod="post" />
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-primary" })
            </div>
        }
    </div>
</div>


<script type="text/javascript">

    $('#datetimepicker3').datetimepicker({
        format: 'YYYY-MM-DD'
    });

    $('#datetimepicker4').datetimepicker({
        format: 'YYYY-MM-DD'
    });

</script>




