﻿@model UI.Models.ToDoDetailsViewModel

<link href="~/Content/bootstrap.css" rel="stylesheet" />


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModal-label">Delete Todo</h4>
        </div>
        <div class="modal-body">

            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(m => m.ToDo.Id, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.ToDo.Id, new { @class = "form-control required", @disabled = "disabled" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ToDo.Activity, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.ToDo.Activity, new { @class = "form-control required", @disabled = "disabled" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ToDo.Topic, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.ToDo.Topic, new { @class = "form-control required", @disabled = "disabled" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ToDo.Description, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.ToDo.Description, new { @class = "form-control required", @disabled = "disabled" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ToDo.StartDate, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.ToDo.StartDate, new { @class = "form-control required", @disabled = "disabled" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ToDo.EndDate, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.ToDo.EndDate, new { @class = "form-control required", @disabled = "disabled" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ToDo.Priority, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.ToDo.Priority, new { @class = "form-control required", @disabled = "disabled" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ToDo.Status, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.ToDo.Status, new { @class = "form-control required", @disabled = "disabled" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ToDo.PercentageOfCompletion, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.ToDo.PercentageOfCompletion, new { @class = "form-control required", @disabled = "disabled" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <h3>
                            <span class="label label-danger">
                                Are you sure you want to delete this Todo?
                            </span>
                        </h3>
                    </div>
                </div>

            </div>

        </div>

        <div class="modal-footer">
            @using (Html.BeginForm("Delete","Home", new { id = Model.ToDo.Id, pageNumber = Model.PageNumber }))
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    @Html.ActionLink("Cancel", "Index", new{ pageNumber = Model.PageNumber }, new { @class = "btn btn-primary" })
                </div>
            }
            
        </div>
    </div>
</div>

