﻿@model UI.Models.ToDoDetailsViewModel


<link href="~/Content/bootstrap.css" rel="stylesheet" />

<script src="~/Scripts/jquery.validate.js"></script>

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>



<!--
<div class="modal fade">
-->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModal-label">Todo Details</h4>
            </div>
            
            <div class="modal-body">
                <!-- <dl class="dl-horizontal"> -->
                <div class="form-horizontal">

                    <div class="form-group">
                        @Html.LabelFor(model => model.ToDo.Id, new { @class = "control-label col-sm-3" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.ToDo.Id, new { @class = "form-control required", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ToDo.Activity, new { @class = "control-label col-sm-3" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.ToDo.Activity, new { @class = "form-control required", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ToDo.Topic, new { @class = "control-label col-sm-3" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.ToDo.Topic, new { @class = "form-control required", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ToDo.Description, new { @class = "control-label col-sm-3" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.ToDo.Description, new { @class = "form-control required", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ToDo.StartDate, new { @class = "control-label col-sm-3" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.ToDo.StartDate, new { @class = "form-control required", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ToDo.EndDate, new { @class = "control-label col-sm-3" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.ToDo.EndDate, new { @class = "form-control required", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ToDo.Priority, new { @class = "control-label col-sm-3" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.ToDo.Priority, new { @class = "form-control required", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ToDo.Status, new { @class = "control-label col-sm-3" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.ToDo.Status, new { @class = "form-control required", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ToDo.PercentageOfCompletion, new { @class = "control-label col-sm-3" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.ToDo.PercentageOfCompletion, new { @class = "form-control required", @disabled = "disabled" })
                        </div>
                    </div>

                </div>
                
            </div>

            <div class="modal-footer">

                <a href="#" class="btn btn-default btn-success" onclick="editClick(@Model.ToDo.Id ,@Model.PageNumber)">Edit</a>
                @{ if (Model.CallFrom == "list")
                    {
                        @Html.ActionLink("Close", "Index", new { pageNumber = Model.PageNumber }, new { @class = "btn btn-default btn-primary" })
                    }
                    else
                    {
                        @Html.ActionLink("Close", "Tiles", new { pageNumber = Model.PageNumber }, new { @class = "btn btn-default btn-primary" })
                    }
                }

            </div>
        </div>
    </div>
<!--
</div>
-->
<script>
            var editClick = function (id, pageNumber) {

                var url = "/Home/Edit?id=" + id + "&pageNumber=" + pageNumber;

                $("#modalStub").load(url, function () {
                    $("#modalStub").modal("show");

                })

            }      

 </script>