﻿@model UI.Models.ToDoDetailsViewModel


<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/moment.js"></script>

<script src="~/Scripts/bootstrap-datetimepicker.js"></script>


<div class="modal-dialog">
    <div class="modal-content">

        @using (Html.BeginForm("EditPost", "Home", FormMethod.Post, new { todoDetails = Model }))
        {
            @Html.AntiForgeryToken()

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModal-label">Edit Todo</h4>
            </div>
            <div class="modal-body">

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ToDo.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.ToDo.Activity, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ToDo.Activity, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ToDo.Activity, "", new { @class = "label label-danger", @style = "font-size:13px;" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ToDo.Topic, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ToDo.Topic, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ToDo.Topic, "", new { @class = "label label-danger", @style = "font-size:13px;" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ToDo.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ToDo.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ToDo.Description, "", new { @class = "label label-danger", @style = "font-size:13px;" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ToDo.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ToDo.StartDate, new { htmlAttributes = new { @class = "form-control datetimepicker", @id = "datetimepicker1" } })
                            @Html.ValidationMessageFor(model => model.ToDo.StartDate, "", new { @class = "label label-danger", @style = "font-size:13px;" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ToDo.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ToDo.EndDate, new { htmlAttributes = new { @class = "form-control datetimepicker", @id = "datetimepicker2" } })
                            @Html.ValidationMessageFor(model => model.ToDo.EndDate, "", new { @class = "label label-danger", @style = "font-size:13px;" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ToDo.Priority, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ToDo.Priority, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ToDo.Priority, "", new { @class = "label label-danger", @style="font-size:13px;" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ToDo.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ToDo.Status, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ToDo.Status, "", new { @class = "label label-danger", @style = "font-size:13px;" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ToDo.PercentageOfCompletion, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ToDo.PercentageOfCompletion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ToDo.PercentageOfCompletion, "", new { @class = "label label-danger", @style = "font-size:13px;" })
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">

                <input type="submit" value="Save" class="btn btn-warning" />

                @{ if (Model.CallFrom == "list")
                    {
                        @Html.ActionLink("Cancel", "Index", new { pageNumber = Model.PageNumber }, new { @class = "btn btn-primary" })
                    }
                    else
                    {
                        @Html.ActionLink("Cancel", "Tiles", new { pageNumber = Model.PageNumber }, new { @class = "btn btn-primary" })
                    }
                }
                                
            </div>
        }
    </div>
</div>

<script type="text/javascript">

    $('#datetimepicker1').datetimepicker({
        format: 'YYYY-MM-DD'
        /*
           {
           autoclose: true,
           todayHighlight: true,
           format: "DD, MM dd, yyyy"
           //format: 'lll'
           }
        */
    });

    $('#datetimepicker2').datetimepicker({
        format: 'YYYY-MM-DD'
    });


</script>

