﻿@using UI.Models;
@using PagedList;
@using PagedList.Mvc;

@model  UI.Models.ViewPageSettings

@{
    Layout = null;// "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    
     <link href="~/Content/bootstrap.css" rel="stylesheet" />
     <link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>

</head>
<body>
    <div id="container" class="container" style="margin: 0 auto; width:1300px;">

        <div>
            <h2 style="margin:0px auto; text-align:center; margin-top:30px; margin-bottom:20px;">ToDos - Task List</h2>
        </div>

        

        <div style="margin-bottom: 2px;">

            <div style="float:right;">

                <div class="dropdown" style="width:150px; float:right;">
                    <button class="btn btn-default dropdown-toggle" style="width:150px;" type="button" id="menu1" data-toggle="dropdown">
                        Export To
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation">
                            @Html.ActionLink("All Items to CSV", "ExportToFile", new { @controller = "Home", @action = "ExportToFile", fileType = "CSV" },
                                                         new { role = "menuitem", tabindex = "-1" })
                        </li>
                        <li role="presentation">
                            @Html.ActionLink("All Items to TXT", "ExportToFile", new { @controller = "Home", @action = "ExportToFile", fileType = "TXT" },
                                                       new { role = "menuitem", tabindex = "-1" })
                        </li>
                    </ul>

                </div> <!--End of dropdown-->
            
                
                <div style="margin-top:5px; margin-bottom:5px;">
                    @Html.ActionLink("Tiles View", "Tiles", new { @controller = "Home", @action = "Tiles", id = 1 },
                                                 new
                                                 {
                                                     @class = "btn btn-default",
                                                     style = "width:150px; float:right; margin-top:5px; margin-bottom:5px;"
                                                 })
                </div>

                <div>
                    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                    {
                        <div style="width:150px; float:right; ">
                            @Html.TextBox("SearchString", Model.SearchString, new { @class = "form-control", id = "searchString" })

                        </div>
                        <div style="margin-top:8px; margin-right:5px; float:right;">
                            @Html.Label("Search: ")

                        </div>
                    }
                </div>

                <div style="margin-top:1px; margin-bottom:1px; font-weight:200;">
                    <div style="margin-top:1px; margin-right:30px; float:right; vertical-align: middle; font-weight:200;">
                        <small>@Html.Label(" Clear Search ")</small>

                    </div>
                    <div style="margin-top:2px; margin-right:2px; float:right;">
                        @Html.ActionLink(" ", "Index", new { @controller = "Home", @action = "Index", searchString = " " },
                                      new
                                      {
                                          @class = "btn btn-default btn-xs",
                                          style = "width:15px; height:15px; float:right; margin-top:2px; margin-bottom:2px;"
                                      })
                    </div>
                </div>

            </div> 

            <div style="float:left; margin-top:30px;">
                <div style="margin-bottom:15px;">
                    <a href="#" class="btn btn-warning" onclick="createClick()">Create new Todo</a>
                </div>

                <div style="padding-top:15px;">
                    Page @(Model.PagedToDoList.PageCount < Model.PagedToDoList.PageNumber ? 0 : Model.PagedToDoList.PageNumber)
                    of @Model.PagedToDoList.PageCount
                </div>
                <div>
                    Elements @(Model.PagedToDoList.PageCount < Model.PagedToDoList.PageNumber ? 0 : Model.PagedToDoList.FirstItemOnPage)
                    to @(Model.PagedToDoList.PageCount < Model.PagedToDoList.PageNumber ? 0 : Model.PagedToDoList.LastItemOnPage)
                    of @Model.PagedToDoList.TotalItemCount
                </div>
            </div>

        </div>
    
        <div style="clear:both;">  </div>
             

        <div id="tablePanel">

            <br />

            <div id="result" style="display:none;"></div>

            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            <div style="margin:0px; padding:0px; line-height:40px; font-size:16px; text-align: center;">#</div>
                        </th>
                        <!--
                        <th onclick="location.href='Url.Action("Index", "Home", new { id = "columnSort", columnSort="TablePosition" })'"> Table Position </th>
                        -->
                        <th onclick="location.href='@Url.Action("Index", "Home", new { id = "columnNameSort", columnNameSort="Id" })'" >
                            <div class="row row-tooltip" data-toggle="tooltip" title="Click to Sort" style="margin:0px; padding:0px; height:40px; width:50px;">
                                <div class="tooltip fade"></div>
                                <div style="float:left; margin-left:8px; padding:0px; line-height:40px; font-size:16px; text-align: center; vertical-align: middle;">Id</div>
                                <div @{ if (Model.ColumnSortInfo.SortedColumnName.Contains("Id")) { switch (Model.ColumnSortInfo.ColumnSortType) { case ColumnSortType.Ascending: <text> class="glyphicon glyphicon-sort-by-attributes" </text>  break; case ColumnSortType.Descending: <text> class="glyphicon glyphicon-sort-by-attributes-alt" </text>  break; } } else { <text> class="glyphicon glyphicon-align-left" </text>  } }
                                     style="padding:0px; line-height:40px; font-size:16px; text-align:center; float:right;">

                                </div>
                                <div style="clear:both;"></div>
                            </div>
                        </th>
                        <th onclick="location.href='@Url.Action("Index", "Home", new { id = "columnNameSort", columnNameSort="Activity" })'" data-toggle="tooltip" title="Click to Sort.">
                            <div class="row row-tooltip" data-toggle="tooltip" title="Click to Sort" style="margin:0px; padding:0px; width:120px;  height:40px;">
                                <div style="float:left; margin-left:8px; padding:0px; display:table-cell; font-size:16px; line-height: 40px; vertical-align: middle;">Activity</div>
                                <div @{ if (Model.ColumnSortInfo.SortedColumnName.Contains("Activity")) { switch (Model.ColumnSortInfo.ColumnSortType) { case ColumnSortType.Ascending: <text> class="glyphicon glyphicon-sort-by-attributes" </text>  break; case ColumnSortType.Descending: <text> class="glyphicon glyphicon-sort-by-attributes-alt" </text>  break; } } else { <text> class="glyphicon glyphicon-align-left" </text>  } } style="padding:0px; display:table-cell; line-height: 40px; font-size:16px; vertical-align: middle; float:right;">

                                </div>
                                <div style="clear:both;"></div>
                            </div>
                        </th>
                        <th onclick="location.href='@Url.Action("Index", "Home", new { id = "columnNameSort", columnNameSort="Description" })'">
                            <div class="row row-tooltip" data-toggle="tooltip" title="Click to Sort" style="margin:0px; padding:0px; height:40px; width:130px;">
                                <div style="float:left; margin-left:8px; padding:0px; line-height:40px; font-size:16px; vertical-align: middle;">Description</div>
                                <div @{ if (Model.ColumnSortInfo.SortedColumnName.Contains("Description")) { switch (Model.ColumnSortInfo.ColumnSortType) { case ColumnSortType.Ascending: <text> class="glyphicon glyphicon-sort-by-attributes" </text>  break; case ColumnSortType.Descending: <text> class="glyphicon glyphicon-sort-by-attributes-alt" </text>  break; } } else { <text> class="glyphicon glyphicon-align-left" </text>  } } style="padding:0px; line-height:40px; font-size:16px; vertical-align:central; float:right;">

                                </div>
                                <div style="clear:both;"></div>
                            </div>
                        </th>
                        <th onclick="location.href='@Url.Action("Index", "Home", new { id = "columnNameSort", columnNameSort="StartDate" })'">
                            <div class="row row-tooltip" data-toggle="tooltip" title="Click to Sort" style="margin:0px; padding:0px; height:40px; width:120px;">
                                <div style="float:left; margin-left:8px; padding:0px; line-height:40px; font-size:16px; text-align: center; vertical-align: middle;">Start Date</div>
                                <div @{ if (Model.ColumnSortInfo.SortedColumnName.Contains("StartDate")) { switch (Model.ColumnSortInfo.ColumnSortType) { case ColumnSortType.Ascending: <text> class="glyphicon glyphicon-sort-by-attributes" </text>  break; case ColumnSortType.Descending: <text> class="glyphicon glyphicon-sort-by-attributes-alt" </text>  break; } } else { <text> class="glyphicon glyphicon-align-left" </text>  } } style="padding:0px; line-height:40px; font-size:16px; text-align:center; float:right;"></div>
                                <div style="clear:both;"></div>
                            </div>
                        </th>
                        <th onclick="location.href='@Url.Action("Index", "Home", new { id = "columnNameSort", columnNameSort="EndDate" })'">
                            <div class="row row-tooltip" data-toggle="tooltip" title="Click to Sort" style="margin:0px; padding:0px; height:40px; width:120px;">
                                <div style="float:left; margin-left:8px; padding:0px; line-height:40px; font-size:16px; text-align: center; vertical-align: middle;">End Date</div>
                                <div @{ if (Model.ColumnSortInfo.SortedColumnName.Contains("EndDate")) { switch (Model.ColumnSortInfo.ColumnSortType) { case ColumnSortType.Ascending: <text> class="glyphicon glyphicon-sort-by-attributes" </text>  break; case ColumnSortType.Descending: <text> class="glyphicon glyphicon-sort-by-attributes-alt" </text>  break; } } else { <text> class="glyphicon glyphicon-align-left" </text>  } } style="padding:0px; line-height:40px; font-size:16px; text-align:center; float:right;">
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                        </th>
                        <th onclick="location.href='@Url.Action("Index", "Home", new { id = "columnNameSort", columnNameSort = "Status" })'">
                            <div class="row row-tooltip" data-toggle="tooltip" title="Click to Sort" style="margin:0px; padding:0px; height:40px; width:80px;">
                                <div style="float:left; margin-left:8px; padding:0px; line-height:40px; font-size:16px; text-align: center; vertical-align: middle;">Status</div>
                                <div @{ if (Model.ColumnSortInfo.SortedColumnName.Contains("Status")) { switch (Model.ColumnSortInfo.ColumnSortType) { case ColumnSortType.Ascending: <text> class="glyphicon glyphicon-sort-by-attributes" </text>  break; case ColumnSortType.Descending: <text> class="glyphicon glyphicon-sort-by-attributes-alt" </text>  break; } } else { <text> class="glyphicon glyphicon-align-left" </text>  } } style="padding:0px; line-height:40px; font-size:16px; text-align:center; float:right;">

                                </div>
                                <div style="clear:both;"></div>
                            </div>
                        </th>
                        <th onclick="location.href='@Url.Action("Index", "Home", new { id = "columnNameSort", columnNameSort = "Priority" })'">
                            <div class="row row-tooltip" data-toggle="tooltip" title="Click to Sort" style="margin:0px; padding:0px; height:40px; width:90px;">
                                <div style="float:left; margin-left:8px; padding:0px; line-height:40px; font-size:16px; text-align: center; vertical-align: middle;">Priority</div>
                                <div @{ if (Model.ColumnSortInfo.SortedColumnName.Contains("Priority")) { switch (Model.ColumnSortInfo.ColumnSortType) { case ColumnSortType.Ascending: <text> class="glyphicon glyphicon-sort-by-attributes" </text>  break; case ColumnSortType.Descending: <text> class="glyphicon glyphicon-sort-by-attributes-alt" </text>  break; }; } else { <text> class="glyphicon glyphicon-align-left" </text>  } } style="padding:0px; line-height:40px; font-size:16px; text-align:center; float:right;">
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                        </th>
                        <th>
                            <div class="row" style="margin:0px; padding:0px; height:40px; width:160px;">
                                <div style="float:left; margin-left:8px; padding:0px; line-height:40px; font-size:16px; text-align: center; vertical-align: middle;">Operations</div>


                                <div style="clear:both;"></div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody id="tBody">
                    @{int RowNo = 1;}
                    @foreach (var item in Model.PagedToDoList)
                    {                        
                    <tr class="@item.Status" style="height:40px; line-height:40px; font-size:14px; text-align:right;">
                        
                        <td style="text-align:center;">
                            @Html.Raw(RowNo + (Model.PagedToDoList.PageNumber-1) * Model.PagedToDoList.PageSize)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActivityToDisplay)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DescriptionToDisplay)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Priority)
                        </td>
                        <td style="text-align:center;">
                            <a href="#" class="btn btn-success btn-xs" style="margin-right:6px;" onclick="editClick(@item.Id ,@Model.PagedToDoList.PageNumber)">Edit</a>    
                            <a href="#" class="btn btn-info btn-xs" style="margin-right:6px;" onclick="detailsClick(@item.Id ,@Model.PagedToDoList.PageNumber)">Details</a> 
                            <a href="#" class="btn btn-danger btn-xs" style="margin-right:6px;" onclick="deleteClick(@item.Id ,@Model.PagedToDoList.PageNumber)">Delete</a> 

                            @Html.ActionLink(" ", "MoveUp",
                                  new
                                  {
                                      @controller = "Home",
                                      @action = "MoveUp",
                                      tablePosition = item.TablePosition,
                                      pageNumber = Model.PagedToDoList.PageNumber
                                  },
                                  new
                                  {
                                      @class = "btn btn-xs btn-primary moveUpButton glyphicon glyphicon-chevron-up",
                                      tabindex = "-1",
                                      role = "dialog",
                                      label = "myModal-label",
                                      hidden = "true",
                                      index = Model.PagedToDoList.ToList().IndexOf(item),
                                      url = "@Url.Action('MoveUp', 'Home')",
                                      style = "margin-right:6px;"
                                  }) 
                            
                                        @Html.ActionLink(" ",
                                  "MoveDown",
                                  new
                                  {
                                      @controller = "Home",
                                      @action = "MoveDown",
                                      tablePosition = item.TablePosition,
                                      pageNumber = Model.PagedToDoList.PageNumber
                                  },
                                    new
                                    {
                                        @class = "btn btn-xs btn-primary moveDownButton glyphicon glyphicon-chevron-down",
                                        tabindex = "-1",
                                        role = "dialog",
                                        label = "myModal-label",
                                        hidden = "true",
                                        index = Model.PagedToDoList.ToList().IndexOf(item),
                                        url = "@Url.Action('MoveDown', 'Home')",
                                        style = "margin-right:6px;"
                                    })
                        </td>
                    </tr>
                        RowNo++;
                    }
                </tbody>
            </table>

            <div>
                <div style="float: left;">
                    @Html.PagedListPager(Model.PagedToDoList, pageNumber => Url.Action("Index", new { pageNumber, pageSize = Model.PagedToDoList.PageSize }), PagedListRenderOptions.ClassicPlusFirstAndLast)

                </div>
                <div style="float: right;">
                    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                    {
                        <div>
                            @Html.Label("Items on Page")

                        </div>
                        <div>
                            @Html.DropDownList("PageSize",
                                               new SelectList(
                                                      new Dictionary<string, int> {   { "5", 5 }, { "10", 10 },
                                                                                      { "20", 20 }, { "30", 30 },
                                                                                      { "40", 40 },{ "50", 50 }
                                                                                  },
                                                       "Key", "Value",
                                                       Model.PagedToDoList.PageSize),     
                                                       new { @class = "form-control",
                                                             id = "pageSize" }
                                                       )
                        </div>

                     }

                </div>

            </div>

        </div>

        <!-- Bootstrap Modal -->

        <div class="modal fade" id="modalStub" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        
        </div>
                
        <!-- End of Bootstrap Modal  -->

    </div> <!-- end of id="container" div  -->

    <script>

            $('.row-tooltip').tooltip();

            var createClick = function (id, pageNumber) {

                var url = "/Home/Create";

                $("#modalStub").load(url, function () {
                    $("#modalStub").modal("show");

                })

            }

            
            var detailsClick = function (id, pageNumber) {

                var url = "/Home/Details?id=" + id + "&pageNumber=" + pageNumber;

                $("#modalStub").load(url, function () {
                    $("#modalStub").modal("show");

                })

            }
            
            var deleteClick = function (id, pageNumber) {

                var url = "/Home/DeleteConfirmation?id=" + id + "&pageNumber=" + pageNumber;

                $("#modalStub").load(url, function () {
                    $("#modalStub").modal("show");

                })

            }    

            var editClick = function (id, pageNumber) {

                var url = "/Home/Edit?id=" + id + "&pageNumber=" + pageNumber;

                $("#modalStub").load(url, function () {
                    $("#modalStub").modal("show");

                })

            }       
            

        $(document).ready(function () {

            $('#searchString').on('keyup', function (event) {
                                        var form = $(event.target).parents('form');
                                        form.submit();
                                    });

            $('#pageSize').on('change', function (event) {
                                        var form = $(event.target).parents('form');
                                        form.submit();
                                    });

            $('.moveUpButton').on('click', function (e) {
                                                        
                                        if ($(this).attr('index')==0 && @Model.PagedToDoList.PageNumber == 1) {
                                            alert("The first item cannot be moved higher!");
                                            e.preventDefault();
                                            e.target.submit.blur();
                                        }
                                    });

            $('.moveDownButton').on('click', function (e) {
                                        var ii = $(this).attr('index');
                                        var ii2 = @Model.PagedToDoList.PageSize * (@Model.PagedToDoList.PageNumber-1);
                                        var currentItemListIndex = parseInt(ii) + ii2;
                                        if (currentItemListIndex == @Model.PagedToDoList.TotalItemCount-1) {
                                            alert("The last item cannot be moved lower!");
                                            e.preventDefault();
                                            e.target.submit.blur();
                                        }
                                    });
                     
        
        });
        
    </script>
</body>
</html>
