﻿@using PagedList;
@using PagedList.Mvc;
@using UI.Models;

@model UI.Models.TilesSearchViewModel

@{
    ViewBag.Title = "Tiles";
    Layout = null; // "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>


<html>
<head>

    <title>Tiles</title>

    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.js"></script>

    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
       


</head>

<body>

    <div id="container" class="container" style="margin:0 auto;">
        <div>
            <h2 style="margin:0px auto; text-align:center; margin:30px;">ToDos - Tiles</h2>
        </div>

        @using (@Html.BeginForm("Tiles", "Home", FormMethod.Post))
        {



            <div class="row">

                <div class="form-group input-group-sm" , style="width:145px; float:left; margin-left:0px;">
                    @Html.Label("Logical Operator")
                    @Html.DropDownListFor(model => model.LogicalOperator, new SelectList(Enum.GetValues(typeof(LogicalOperator))), new { @class = "form-control", @style = "height:27px; width:140px;" })
                </div>

                <div style="float:right;">
                    @Html.ActionLink("List View", "Index", new { @controller = "Home", @action = "Index" },
                                                                                        new { @class = "btn btn-default", style = "width: 145px; margin-top:20px;" })
                </div>
            </div>


            <div style="clear:both;"></div>

            <div class="row">

                <div class="form-group input-group-sm" , style="width:12%; margin-right: 6px; float:left;">
                    @Html.LabelFor(model => model.ToDoToSearch.Topic)
                    @Html.TextBoxFor(model => model.ToDoToSearch.Topic, Model.ToDoToSearch.Topic, new { @class = "form-control", placeholder = "Topic" })
                </div>

                <div class="form-group input-group-sm" , style="width:12%; margin-right: 6px; float:left;">
                    @Html.LabelFor(model => model.ToDoToSearch.Activity)
                    @Html.TextBoxFor(model => model.ToDoToSearch.Activity, Model.ToDoToSearch.Activity, new { @class = "form-control", placeholder = "Activity" })
                </div>

                <div class="form-group input-group-sm" , style="width:12%; margin-right: 6px; float:left;">
                    @Html.LabelFor(model => model.ToDoToSearch.StartDate)
                    @Html.TextBoxFor(model => model.ToDoToSearch.StartDate, new { @class = "form-control", id = "datepicker7", placeholder = "StartDate" })
                </div>

                <div class="form-group input-group-sm" , style="width:12%; margin-right:6px; float:left;">
                    @Html.LabelFor(model => model.ToDoToSearch.EndDate)
                    @Html.TextBoxFor(model => model.ToDoToSearch.EndDate, new { @class = "form-control", @id = "datepicker8", placeholder = "EndDate" })
                </div>



                <div class="form-group input-group-sm" , style="width:12%; margin-right: 6px; float:left;">
                    @Html.LabelFor(model => model.ToDoToSearch.Priority)
                    @Html.TextBoxFor(model => model.ToDoToSearch.Priority, Model.ToDoToSearch.Priority.ToString(), new { @class = "form-control", placeholder = "Priority" })
                </div>

                <div class="form-group input-group-sm" , style="width:12%; margin-right: 6px; float:left;">
                    @Html.LabelFor(model => model.ToDoToSearch.PercentageOfCompletion)
                    @Html.TextBoxFor(model => model.ToDoToSearch.PercentageOfCompletion, Model.ToDoToSearch.PercentageOfCompletion.ToString(), new { @class = "form-control", placeholder = "%Complete" })
                </div>

                <div class="form-group input-group-sm" , style="width:12%; float:left;">
                    @Html.LabelFor(model => model.ToDoToSearch.Status)
                    @Html.TextBoxFor(model => model.ToDoToSearch.Status, Model.ToDoToSearch.Status.ToString(), new { @class = "form-control", placeholder = "Status" })
                </div>

                <div style="margin-top:23px;">
                    <button type="submit" class="btn btn-success" style="width:145px; float:right;">Search</button>
                    <div style="float:right; margin-right:25px; margin-top:0px;">
                        @Html.Label("Current Todo Set", new { style = "color:black; font-weight:normal; font-size:12px; margin-top:0px;" })
                    </div>
                </div>


            </div>


            
        }

        <div class="row" style="clear:both;">  </div>

        <div class="row"> 
             <div style="float:left; margin-top:8px;">
                <div>
                    Page @(Model.PagedToDoList.PageCount < Model.PagedToDoList.PageNumber ? 0 : Model.PagedToDoList.PageNumber)
                    of @Model.PagedToDoList.PageCount
                </div>
                <div>
                    Elements @(Model.PagedToDoList.PageCount < Model.PagedToDoList.PageNumber ? 0 : Model.PagedToDoList.FirstItemOnPage)
                    to @(Model.PagedToDoList.PageCount < Model.PagedToDoList.PageNumber ? 0 : Model.PagedToDoList.LastItemOnPage)
                    of @Model.PagedToDoList.TotalItemCount
                </div>
            </div>

            <div style="float:right;">
                @Html.ActionLink("Display all items", "Tiles", new { @controller = "Home", @action = "Tiles", displayMode = "all" },
                                                               new { @class = "btn btn-default", style = "width: 145px; margin-top:10px;" })
            </div>
        </div>

        <div class="row" style="clear:both;">  </div>
                      

        <div class="row" style="margin-top:10px;">
            @{
                foreach (var i in Model.PagedToDoList)
                {

                    <div class="col-sd-1" style="border:solid 2px #42b9e6; margin-top:5px; margin-left:10px; margin-bottom:3px;
                                                    background-color:#b5ebf2; width:220px; height:280px; float:left;">

                        <div class="row" style="margin-top:4px; margin-bottom:0px; padding:0px;">
                            <div class="col-md-4 " style="float:left; margin-left:10px;">
                                @Html.Label("Priority", new { style = "color:black; margin:0px;" })
                                <h3 style="margin-top:0px;">@Html.Label(@i.Priority.ToString(), new { @class = "label label-info", style = "margin:0px;" })</h3>
                            </div>
                            <div class="col-md-4" style="float:right; margin-right:4px;">
                                @Html.Label("Status", new { style = "color:black; margin:0px;" })
                                <h3 style="margin-top:0px; float:right; margin-right:10px; ">@Html.Label(@i.Status.ToString(), new { @class = "label label-info", style = "margin:0px;" })</h3>
                            </div>
                            <div style="clear:both;"></div>
                        </div>

                        <div class="row" style="margin-top:0px; padding-top:0px;">
                            <div class="col-md-12 text-center">
                                @Html.Label("Activity", new { style = "color:black;" })
                            </div>
                            <div class="col-md-12 text-center">
                                <div style="margin-top:1px; max-width:230px; font-size:18px; text-align:justify;" class="label label-info">@Html.DisplayFor(modelItem => i.ActivityToDisplay)</div>
                            </div>
                            <div class="col-md-12 text-center" style="margin-top: 8px;">
                                @Html.Label("Topic", new { style = "color:black;" })
                            </div>
                            <div class="col-md-12 text-center">
                                <h3 style="margin-top:1px; max-width:230px; font-size:18px; text-align:justify;" class="label label-info">@Html.DisplayFor(modelItem => i.TopicToDisplay)</h3>
                            </div>
                        </div>

                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-4" style="float:left; margin-left:10px;">
                                <div>
                                    @Html.Label("TimeSpan", new { style = "color:black;margin:0px; "})
                                </div>
                                <div style="margin-top:2px; background-color:cadetblue;">
                                    @Html.Label(@i.StartDate.Value.ToShortDateString() + " -", new { @class = "label label-info", style = "font-size:14px;" })
                                    @Html.Label(@i.EndDate.Value.ToShortDateString() + " ", new { @class = "label label-info", style = "font-size:14px;" })
                                </div>
                            </div>
                            
                            <div class="col-md-4 " style="float:right; margin-top:0px; margin-right:10px;">
                                <div>
                                    @Html.Label("EndedIn", new { style = "color:black; float:right; margin-right:4px; margin-bottom:0px;" })
                                </div>
                                <div style="float:right; margin-top:1px; margin-right:2px;">
                                    @Html.Label(@i.PercentageOfCompletion.ToString() + "%", new { @class = "label label-info", style = "font-size:16px;" })
                                </div>
                            </div>

                        </div>

                        <div class="row" style="margin-top:8px;">
                            <div class="col-md-12 text-center">

                                <a href="#" class="btn btn-info btn-default"
                                   style="background-color:#8fa3c2; font-weight: bold; font-size:16px; padding:1px 10px; margin-top:4px; border:0px;"
                                   onclick="detailsClick(@i.Id ,@Model.PagedToDoList.PageNumber)">Details</a>
                            </div>

                        </div>
                    </div>

                }

            }
        </div>
        <div class="row">
            <div style="float:left;">
                @Html.PagedListPager(Model.PagedToDoList, pageNumber => Url.Action("Tiles", new { pageNumber }), PagedListRenderOptions.ClassicPlusFirstAndLast)
            </div>

            <div style="float:right;">
                <div style=" margin:2px 0;">
                    @using (Html.BeginForm("Tiles", "Home", FormMethod.Get))
                    {
                        <div>
                            @Html.Label("Items on Page")

                        </div>
                        <div>
                            @Html.DropDownList("PageSize", new SelectList(new Dictionary<string, int> {
                                                                                                                            { "2", 2 }, { "3", 3 },
                                                                                                                            { "5", 5 }, { "8", 8},
                                                                                                                            { "10", 10 }, { "20", 20 } },
                                                                                                      "Key", "Value",
                                                                                                      Model.PagedToDoList.PageSize),
                                                                                                      new { @class = "form-control", id = "pageSize" })
                        </div>

                    }
                </div>
            </div>
        </div>

        <!-- Bootstrap Modal -->

        <div class="modal fade" id="modalStub" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">

        </div>

        <!-- End of Bootstrap Modal  -->

    </div>

    <script>
        
        $("#datepicker7").datepicker({
            dateFormat: 'yy-mm-dd',
            numberOfMonths: 1,
            changeYear: true,
            changeMonth: true
        });
        
        $("#datepicker8").datepicker({
            dateFormat: 'yy-mm-dd',
            numberOfMonths: 1,
            changeYear: true,
            changeMonth: true
        });

        var detailsClick = function (id, pageNumber) {
            
            var url = "/Home/Details?id=" + id + "&pageNumber=" + pageNumber;

            $("#modalStub").load(url, function () {
                $("#modalStub").modal("show");

            })

        }

        $(document).ready(function () {

            $('#pageSize').on('change', function (event) {
                var form = $(event.target).parents('form');
                form.submit();
            });
                       

        });

    </script>

    </body>
</html>