﻿@using System.Data.SqlClient;
@model  System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<p>Exception.ExceptionType = @Model.Exception.GetType().Name</p>
<p>Exception.ActionName = @Model.ActionName</p>
<p>Exception.Message = @Model.Exception.Message</p>
<p>
   
</p>

<h4>@Html.ActionLink("Go Back To Home Page", "Index", "Home")</h4>
